/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }

body {
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-variant-ligatures: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fff; }

a, a:hover {
  text-decoration: none;
  color: #000000;
  transition: 0.5s; }

img {
  vertical-align: bottom;
  width: 100%;
  height: auto; }

.d-fl {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.sp {
  display: none; }
  @media screen and (max-width: 768px) {
    .sp {
      display: block; } }

.pc {
  display: block; }
  @media screen and (max-width: 768px) {
    .pc {
      display: none; } }

@font-face {
  font-family: "BodoniSvtyTwoITCTT";
  src: url("../font/BodoniSvtyTwoITCTT.ttf"); }
.l-hd {
  width: 20%;
  max-width: 280px;
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none; }
  .l-hd::-webkit-scrollbar {
    width: 0px; }
  .l-hd.sub-hd {
    box-shadow: 2px 0px 4px rgba(102, 102, 102, 0.1); }
  @media screen and (max-width: 768px) {
    .l-hd {
      width: 100%;
      max-width: 100%;
      top: 0;
      height: auto;
      background-color: #fff;
      overflow: hidden;
      box-shadow: 2px 0px 4px rgba(102, 102, 102, 0.1);
      z-index: 99; } }
  .l-hd-inn {
    position: relative;
    height: 100%;
    margin-top: 60px;
    padding-left: 40px; }
    @media screen and (max-width: 768px) {
      .l-hd-inn {
        height: auto;
        margin-top: 0;
        padding: 20px 10px;
        box-sizing: border-box; } }
    .l-hd-inn.show-menu {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      right: 0;
      margin: 0 auto;
      background-color: #000;
      color: #fff;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 20px 10px 0 10px; }
      .l-hd-inn.show-menu .menu-bar {
        width: 40px; }
      @media screen and (max-width: 768px) {
        .l-hd-inn.show-menu .l-hd-inn-menu {
          visibility: visible;
          opacity: 1;
          height: 100%; }
          .l-hd-inn.show-menu .l-hd-inn-menu li a {
            color: #fff; } }
    @media screen and (max-width: 768px) {
      .l-hd-inn-logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .l-hd-inn-logo.hide h1 {
          opacity: 0; } }
    .l-hd-inn-logo h1 {
      width: 200px; }
      @media screen and (max-width: 768px) {
        .l-hd-inn-logo h1 {
          width: 130px; } }
    .l-hd-inn .menu-bar {
      display: none; }
    @media screen and (max-width: 768px) {
      .l-hd-inn .menu-bar {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        width: 25px;
        height: 25px;
        background: none;
        border: none;
        appearance: none;
        cursor: pointer;
        transition: all .4s;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -ms-transition: all .4s;
        -o-transition: all .4s; }
        .l-hd-inn .menu-bar.active span:nth-child(1) {
          top: -10px;
          transform: translateY(20px) rotate(-45deg);
          background-color: #fff; }
        .l-hd-inn .menu-bar.active span:nth-child(2) {
          left: 50%;
          opacity: 0;
          animation: active-menu-bar02 .8s forwards;
          background-color: #fff; }
        .l-hd-inn .menu-bar.active span:nth-child(3) {
          width: 100%;
          bottom: -6px;
          transform: translateY(-20px) rotate(45deg);
          background-color: #fff; }
      @keyframes active-menu-bar02 {
        100% {
          height: 0; } }
        .l-hd-inn .menu-bar span {
          display: inline-block;
          box-sizing: border-box;
          position: absolute;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #000;
          border-radius: 4px;
          transition: all .4s;
          -webkit-transition: all .4s;
          -moz-transition: all .4s;
          -ms-transition: all .4s;
          -o-transition: all .4s; }
          .l-hd-inn .menu-bar span:nth-child(1) {
            top: 0; }
          .l-hd-inn .menu-bar span:nth-child(2) {
            top: 12px;
            width: 80%; }
          .l-hd-inn .menu-bar span:nth-child(3) {
            bottom: 0;
            width: 60%; } }
    @media screen and (max-width: 768px) {
      .l-hd-inn-menu {
        visibility: hidden;
        opacity: 0;
        height: 0; } }
    .l-hd-inn-menu-inner {
      max-width: 180px;
      padding-top: 50px; }
      @media screen and (max-width: 768px) {
        .l-hd-inn-menu-inner {
          width: 80%;
          max-width: 100%;
          padding-top: 30px;
          margin: 0 auto; } }
      .l-hd-inn-menu-inner li {
        position: relative;
        margin: 20px 0; }
        @media screen and (max-width: 768px) {
          .l-hd-inn-menu-inner li.top {
            padding-left: 13px; }
            .l-hd-inn-menu-inner li.top::before {
              position: absolute;
              content: '';
              width: 20px;
              height: 2px;
              background-color: #fff;
              top: 50%;
              left: -20px; } }
        .l-hd-inn-menu-inner li a {
          display: inline-block;
          font-family: "Montserrat", sans-serif;
          font-size: 14px;
          font-size: 1.4rem;
          letter-spacing: 0.2em; }
          @media screen and (max-width: 768px) {
            .l-hd-inn-menu-inner li a {
              font-size: 25px;
              font-size: 2.5rem; } }
      .l-hd-inn-menu-inner .border {
        padding-bottom: 10px;
        border-bottom: 1px solid #000000; }
        @media screen and (max-width: 768px) {
          .l-hd-inn-menu-inner .border {
            border-bottom: 1px solid #fff; } }
      .l-hd-inn-menu-inner .plus {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: linear-gradient(#000, #000), linear-gradient(#000, #000);
        background-position: center;
        background-size: 45% 1px, 1px 45%;
        background-repeat: no-repeat;
        position: absolute;
        top: -3px;
        right: -5px; }
        @media screen and (max-width: 768px) {
          .l-hd-inn-menu-inner .plus {
            width: 30px;
            height: 30px;
            background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
            background-position: center;
            background-size: 45% 1px, 1px 45%;
            background-repeat: no-repeat;
            right: 0; } }
      .l-hd-inn-menu-inner .minus {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: linear-gradient(#000, #000), linear-gradient(#000, #000);
        background-position: center;
        background-size: 1px 45%;
        background-repeat: no-repeat;
        position: absolute;
        top: -3px;
        right: -5px;
        transform: rotate(90deg); }
        @media screen and (max-width: 768px) {
          .l-hd-inn-menu-inner .minus {
            width: 30px;
            height: 30px;
            background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
            background-position: center;
            background-size: 1px 45%;
            background-repeat: no-repeat;
            right: 0; } }
      .l-hd-inn-menu-inner .menu-list {
        display: none; }
        .l-hd-inn-menu-inner .menu-list.show {
          display: block; }
        .l-hd-inn-menu-inner .menu-list.sub-menu-01 {
          padding-left: 10px; }
          .l-hd-inn-menu-inner .menu-list.sub-menu-01 li {
            margin: 15px 0; }
            .l-hd-inn-menu-inner .menu-list.sub-menu-01 li a {
              font-size: 13px;
              font-size: 1.3rem;
              font-family: "Noto Sans JP", sans-serif; }
              @media screen and (max-width: 768px) {
                .l-hd-inn-menu-inner .menu-list.sub-menu-01 li a {
                  font-size: 17px; } }
        .l-hd-inn-menu-inner .menu-list.sub-menu-02 {
          padding-left: 10px; }
          .l-hd-inn-menu-inner .menu-list.sub-menu-02 li {
            margin: 10px 0; }
            .l-hd-inn-menu-inner .menu-list.sub-menu-02 li a {
              font-size: 12px;
              font-size: 1.2rem;
              font-family: "Noto Sans JP", sans-serif;
              color: #444444; }
              @media screen and (max-width: 768px) {
                .l-hd-inn-menu-inner .menu-list.sub-menu-02 li a {
                  color: #fff;
                  font-size: 14px; } }
              .l-hd-inn-menu-inner .menu-list.sub-menu-02 li a:hover {
                color: #f8bb2c; }
                @media screen and (max-width: 768px) {
                  .l-hd-inn-menu-inner .menu-list.sub-menu-02 li a:hover {
                    color: #fff; } }
  .l-hd .hd-copy {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    font-size: 1.0rem;
    letter-spacing: 0.05em; }
    @media screen and (max-width: 768px) {
      .l-hd .hd-copy {
        bottom: 0; } }

.site-main {
  width: 80%;
  margin-left: auto;
  padding-top: 60px; }
  @media screen and (max-width: 768px) {
    .site-main {
      width: 100%;
      padding-top: 100px; } }

.noscroll {
  overflow: hidden; }

.title01 {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2em;
  line-height: l 0.6;
  margin-bottom: 50px;
  color: #231815; }
  .title01:after {
    content: "";
    width: 10px;
    height: 1.5px;
    background: #f8bb2c;
    display: block;
    float: left;
    margin-top: 20px; }

.sl .site-main {
  position: relative;
  z-index: 1; }
  .sl .site-main:after {
    content: "";
    height: 170px;
    max-width: 816px;
    width: 80%;
    background-image: url("../images/bg-logo.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 335px;
    left: 5.7%; }

.l-mv-inn {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 70px;
  padding-right: 50px; }
  @media screen and (max-width: 768px) {
    .l-mv-inn {
      padding: 0 10px;
      box-sizing: border-box; } }
  .l-mv-inn-image {
    position: relative;
    width: 87.7%;
    min-height: 463px;
    margin-left: auto;
    background-image: url("../images/mv-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transition: all 1000ms ease;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease; }
    .l-mv-inn-image.unset {
      background-image: unset; }
    @media screen and (max-width: 768px) {
      .l-mv-inn-image {
        width: 80%;
        height: 70vh; } }
    .l-mv-inn-image .slide-img img {
      position: absolute;
      width: 100%;
      height: 463px;
      top: 0;
      left: 0;
      opacity: 0;
      object-fit: contain;
      object-position: center;
      overflow: hidden;
      transform: scale(2) rotate(-35deg);
      -webkit-transform: scale(2) rotate(-35deg);
      -moz-transform: scale(2) rotate(-35deg);
      -ms-transform: scale(2) rotate(-35deg);
      -o-transform: scale(2) rotate(-35deg);
      transition: all 1000ms ease;
      -webkit-transition: all 1000ms ease;
      -moz-transition: all 1000ms ease;
      -ms-transition: all 1000ms ease;
      -o-transition: all 1000ms ease; }
      .l-mv-inn-image .slide-img img.hovered {
        opacity: 1;
        transform: scale(1) rotate(0deg);
        -webkit-transform: scale(1) rotate(0deg);
        -moz-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        -o-transform: scale(1) rotate(0deg);
        transition: all 1000ms ease;
        -webkit-transition: all 1000ms ease;
        -moz-transition: all 1000ms ease;
        -ms-transition: all 1000ms ease;
        -o-transition: all 1000ms ease; }
  .l-mv-inn-ttl {
    position: absolute;
    width: 35%;
    left: -9px;
    bottom: 165px;
    mix-blend-mode: luminosity;
    z-index: 9; }
    @media screen and (max-width: 768px) {
      .l-mv-inn-ttl {
        width: 85%;
        left: 5%;
        bottom: 86px;
        mix-blend-mode: multiply; } }
  .l-mv-inn-infotxt {
    padding-top: 80px; }
    @media screen and (max-width: 768px) {
      .l-mv-inn-infotxt {
        padding-top: 40px;
        margin-left: 10px; } }
    .l-mv-inn-infotxt span {
      display: inline-block;
      padding: 0 3px;
      font-size: 14px;
      font-size: 1.4rem;
      line-height: 1.5;
      color: #fff;
      background-color: #000;
      letter-spacing: 0.05em; }
      @media screen and (max-width: 768px) {
        .l-mv-inn-infotxt span {
          display: inline;
          background-color: #231815;
          line-height: 1.7;
          font-size: 15px;
          font-size: 1.5rem; } }

.sl .site-main {
  position: relative;
  z-index: 1; }
  .sl .site-main:after {
    content: "";
    height: 170px;
    max-width: 816px;
    width: 80%;
    background-image: url("../images/bg-logo.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 335px;
    left: 5.7%; }
.sl-about {
  width: 100%;
  padding-left: 72px;
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    .sl-about {
      padding: 0; } }
  .sl-about-inn {
    max-width: 782px;
    width: 95%; }
    @media screen and (max-width: 768px) {
      .sl-about-inn {
        width: 90%;
        margin: 0 auto; } }
    .sl-about-inn-company-ttl {
      font-size: 33px;
      font-size: 3.3rem;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 2;
      color: #f8bb2c;
      margin-bottom: 30px;
      font-family: "BodoniSvtyTwoITCTT", sans-serif; }
      @media screen and (max-width: 768px) {
        .sl-about-inn-company-ttl {
          font-size: 3rem; } }
      .sl-about-inn-company-ttl small {
        font-size: 10px;
        font-size: 1.0rem;
        letter-spacing: 0.05em;
        font-family: "Noto Sans JP", sans-serif;
        font-weight: 400;
        color: #f7dda9;
        padding-left: 20px; }
    .sl-about-inn-company-fl {
      justify-content: space-between; }
      @media screen and (max-width: 768px) {
        .sl-about-inn-company-fl {
          padding: 0 10px; } }
      .sl-about-inn-company-fl .company {
        width: 46%; }
        @media screen and (max-width: 768px) {
          .sl-about-inn-company-fl .company {
            width: 100%; } }
        .sl-about-inn-company-fl .company dl {
          display: flex;
          border-bottom: 1px solid #999999;
          padding: 30px 20px 25px;
          color: #231815;
          font-size: 12px;
          font-size: 1.2rem;
          line-height: 2.2;
          letter-spacing: 0.05em;
          font-family: "Noto Sans JP", sans-serif;
          font-weight: 400; }
          @media screen and (max-width: 768px) {
            .sl-about-inn-company-fl .company dl {
              letter-spacing: 0.1em;
              padding: 20px 10px 15px; } }
          @media screen and (max-width: 768px) {
            .sl-about-inn-company-fl .company dl:last-child {
              border-bottom: none; } }
        .sl-about-inn-company-fl .company dt {
          width: 83px; }
          @media screen and (max-width: 768px) {
            .sl-about-inn-company-fl .company dt {
              width: 100px; } }
    .sl-about-inn-company-chart {
      margin-bottom: 80px;
      border-bottom: 1px solid #999999; }
      @media screen and (max-width: 768px) {
        .sl-about-inn-company-chart {
          padding: 0 10px;
          margin-bottom: 50px;
          border-bottom: none; } }
      .sl-about-inn-company-chart h4 {
        padding: 30px 20px 0;
        color: #231815;
        font-size: 12px;
        font-size: 1.2rem;
        line-height: 2.2;
        letter-spacing: 0.05em;
        font-family: "Noto Sans JP", sans-serif;
        font-weight: 400;
        margin-bottom: 20px; }
      .sl-about-inn-company-chart figure {
        max-width: 510px;
        width: 65%;
        padding: 0 0 50px 20px; }
        @media screen and (max-width: 768px) {
          .sl-about-inn-company-chart figure {
            width: 100%;
            padding: 0 10px 40px;
            border-bottom: 1px solid #999999; } }
    @media screen and (max-width: 768px) {
      .sl-about-inn-access-fl {
        padding: 0 20px;
        border-top: 1px solid #999999; } }
    .sl-about-inn-access-fl .access {
      width: 50%;
      max-width: 346px;
      margin-bottom: 40px;
      color: #231815;
      font-size: 12px;
      font-size: 1.2rem;
      line-height: 2.2;
      letter-spacing: 0.05em;
      font-family: "Noto Sans JP", sans-serif;
      font-weight: 400; }
      .sl-about-inn-access-fl .access:last-child {
        max-width: 100%; }
      @media screen and (max-width: 768px) {
        .sl-about-inn-access-fl .access {
          width: 100%;
          max-width: 100%;
          margin-bottom: 20px;
          padding-top: 20px; } }
    .sl-about-inn-access-address {
      max-width: 726px;
      width: 75%;
      padding-bottom: 40px; }
      @media screen and (max-width: 768px) {
        .sl-about-inn-access-address {
          width: 100%;
          max-width: 100%;
          padding: 0 10px 40px; } }

.title01 {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2em;
  line-height: l 0.6;
  margin-bottom: 50px;
  color: #231815; }
  .title01:after {
    content: "";
    width: 10px;
    height: 1.5px;
    background: #f8bb2c;
    display: block;
    float: left;
    margin-top: 20px; }

.sl-recruit {
  width: 100%;
  padding-left: 72px;
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    .sl-recruit {
      padding: 0; } }
  .sl-recruit-inn-verbutton {
    background: #ffd071;
    position: absolute;
    right: 0;
    top: 100px; }
    .sl-recruit-inn-verbutton a {
      display: block;
      width: 40px;
      height: 150px;
      padding: 40px 10px;
      text-align: center;
      color: #231815;
      font-size: 14px;
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: 0.2em;
      line-height: 1.6;
      font-family: "Montserrat", sans-serif;
      writing-mode: vertical-lr;
      -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: vertical-lr;
      transform: rotate(-180deg); }
  @media screen and (max-width: 768px) {
    .sl-recruit-inn-ttl {
      width: 90%;
      margin: 0 auto 50px; } }
  .sl-recruit-inn-content {
    padding: 20px 0 20px 30px; }
    @media screen and (max-width: 768px) {
      .sl-recruit-inn-content {
        padding: 20px 0;
        width: 90%;
        margin: 0 auto; } }
    .sl-recruit-inn-content h3 {
      font-size: 17px;
      font-size: 1.7rem;
      letter-spacing: 0.2em;
      line-height: 1.6;
      margin-bottom: 30px;
      font-family: "Noto Sans JP", sans-serif;
      font-weight: 400; }
    .sl-recruit-inn-content p {
      font-weight: 400;
      font-size: 12px;
      font-size: 1.2rem;
      letter-spacing: 0.1em;
      line-height: 1.7;
      margin-bottom: 20px;
      font-family: "Noto Sans JP", sans-serif; }
  .sl-recruit-inn-fl {
    max-width: 772px;
    width: 90%;
    background: #fffdf3;
    padding: 50px 7% 30px 30px;
    margin-bottom: 50px; }
    @media screen and (max-width: 768px) {
      .sl-recruit-inn-fl {
        width: 100%;
        padding: 40px 20px 30px; } }
    .sl-recruit-inn-fl .list {
      margin-bottom: 20px;
      border-bottom: 1px solid #999999;
      padding: 0 20px;
      flex-wrap: nowrap;
      color: #231815;
      font-family: "Noto Sans JP", sans-serif; }
      @media screen and (max-width: 768px) {
        .sl-recruit-inn-fl .list {
          padding: 0 10px; } }
      .sl-recruit-inn-fl .list .l-side {
        width: 190px; }
        @media screen and (max-width: 768px) {
          .sl-recruit-inn-fl .list .l-side {
            width: 130px; } }
        .sl-recruit-inn-fl .list .l-side h3 {
          font-weight: 400;
          font-size: 12px;
          font-size: 1.2rem;
          letter-spacing: 0;
          line-height: 1.6; }
      .sl-recruit-inn-fl .list .r-side {
        width: 100%;
        font-weight: 400;
        font-size: 12px;
        font-size: 1.2rem;
        letter-spacing: 0;
        line-height: 1.6; }
        .sl-recruit-inn-fl .list .r-side h3 {
          font-weight: 500;
          font-size: 14px;
          font-size: 1.4rem;
          letter-spacing: 0.1em;
          line-height: 1.7;
          margin-bottom: 10px; }
        .sl-recruit-inn-fl .list .r-side h4 {
          letter-spacing: 0.1em;
          line-height: 1.7;
          background: #f7dda9;
          padding: 0 7px;
          margin-bottom: 10px; }
        .sl-recruit-inn-fl .list .r-side p {
          padding: 0 0 20px 7px; }
        .sl-recruit-inn-fl .list .r-side .padB10 {
          padding-bottom: 10px; }
        .sl-recruit-inn-fl .list .r-side ul {
          padding-left: 7px; }
          .sl-recruit-inn-fl .list .r-side ul li {
            padding: 0 0 20px 15px;
            position: relative; }
            .sl-recruit-inn-fl .list .r-side ul li:before {
              content: "";
              width: 10px;
              height: 10px;
              background: #231815;
              position: absolute;
              top: 5px;
              left: 0; }
          .sl-recruit-inn-fl .list .r-side ul.pad00 {
            padding-bottom: 20px; }
            .sl-recruit-inn-fl .list .r-side ul.pad00 li {
              padding: 0 0 0 11px; }
        .sl-recruit-inn-fl .list .r-side small {
          display: block;
          font-size: 10px;
          font-size: 1.0rem; }
        .sl-recruit-inn-fl .list .r-side .list-style {
          position: relative;
          padding-left: 10px; }
          .sl-recruit-inn-fl .list .r-side .list-style span {
            position: absolute;
            left: 0;
            top: 0; }
        .sl-recruit-inn-fl .list .r-side .inline-block {
          display: inline-block; }
        .sl-recruit-inn-fl .list .r-side .step-list li {
          padding: 0 0 15px; }
          .sl-recruit-inn-fl .list .r-side .step-list li:before {
            display: none; }
          .sl-recruit-inn-fl .list .r-side .step-list li span {
            width: 70px;
            display: inline-block;
            color: #fff;
            font-weight: 500;
            font-size: 12px;
            font-size: 1.2rem;
            letter-spacing: 0.1em;
            line-height: 1.7;
            background: #edc92f;
            padding: 0 0 5px;
            text-align: center;
            margin-right: 15px; }
  .sl-recruit-inn-button {
    max-width: 772px;
    width: 90%; }
    @media screen and (max-width: 768px) {
      .sl-recruit-inn-button {
        width: 100%; } }
    .sl-recruit-inn-button a {
      display: block;
      width: 304px;
      margin: 0 auto 40px;
      padding: 13px;
      text-align: center;
      color: #fff;
      background: #231815;
      font-size: 28px;
      font-size: 2.8rem;
      font-weight: 500;
      letter-spacing: 0.2em;
      line-height: 2;
      font-family: "Montserrat", sans-serif; }
.sl-entry {
  display: none;
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  overflow-y: scroll; }
  .sl-entry-inn {
    max-width: 600px;
    width: 80%;
    margin: 100px auto;
    border: 2px solid #f8bb2c;
    border-top: none;
    background: #fffdf3; }
    @media screen and (max-width: 768px) {
      .sl-entry-inn {
        width: 85%;
        margin: 120px auto 50px; } }
    .sl-entry-inn-button {
      border-bottom: 2px solid #f8bb2c; }
      .sl-entry-inn-button p {
        cursor: pointer;
        width: 50%;
        font-size: 15px;
        font-size: 1.5rem;
        letter-spacing: 0.2em;
        line-height: 2;
        padding: 11px 0;
        font-family: "Noto Sans JP", sans-serif;
        text-align: center; }
        @media screen and (max-width: 768px) {
          .sl-entry-inn-button p {
            font-size: 1.4rem;
            padding: 8px 0; } }
        .sl-entry-inn-button p:first-child {
          color: #fff;
          background: #f8bb2c; }
        .sl-entry-inn-button p:last-child {
          background: #f7f7f7;
          color: #231815; }
    .sl-entry-inn-form {
      padding: 50px 60px 10px;
      font-weight: 400; }
      @media screen and (max-width: 768px) {
        .sl-entry-inn-form {
          padding: 35px 20px 10px; } }
      .sl-entry-inn-form p {
        margin-bottom: 40px;
        display: flex;
        flex-wrap: nowrap; }
        .sl-entry-inn-form p:nth-child(7) {
          margin-bottom: 20px; }
        .sl-entry-inn-form p:last-child {
          margin-bottom: 30px; }
      .sl-entry-inn-form label {
        font-size: 12px;
        font-size: 1.2rem;
        letter-spacing: 0.05em;
        line-height: 2.3;
        font-family: "Noto Sans JP", sans-serif;
        color: #231815;
        width: 140px; }
      .sl-entry-inn-form input {
        width: 70%;
        background: none;
        border: none;
        border-bottom: 1px solid #777777;
        font-size: 16px;
        font-size: 1.6rem;
        outline: none;
        padding-left: 10px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0; }
        @media screen and (max-width: 768px) {
          .sl-entry-inn-form input {
            width: 68%; } }
      .sl-entry-inn-form textarea {
        width: 70%;
        height: 124px;
        background: #fff;
        outline: none;
        border: none;
        resize: none;
        padding: 10px 0 0 10px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0; }
      .sl-entry-inn-form .agree-text {
        font-family: "Noto Sans JP", sans-serif;
        letter-spacing: 0.05em;
        font-weight: 400;
        color: #231815; }
        .sl-entry-inn-form .agree-text h3 {
          font-size: 12px;
          font-size: 1.2rem;
          line-height: 2.3;
          margin-bottom: 10px; }
        .sl-entry-inn-form .agree-text p {
          font-size: 10px;
          font-size: 1.0rem;
          line-height: 1.6;
          display: block; }
          .sl-entry-inn-form .agree-text p a {
            color: #231815;
            text-decoration: underline; }
      .sl-entry-inn-form input[type="submit"] {
        width: 150px;
        padding: 6px 0;
        margin: 0 auto;
        font-size: 14px;
        font-size: 1.4rem;
        background: #231815;
        line-height: 2;
        text-align: center;
        font-family: "Noto Sans JP", sans-serif;
        letter-spacing: 0.2em;
        color: #fff; }

/* Hide scrollbar for Chrome, Safari and Opera */
.sl-entry::-webkit-scrollbar {
  display: none; }

/* Hide scrollbar for IE, Edge and Firefox */
.sl-entry {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }

.sl-contact {
  width: 100%;
  padding-left: 72px;
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    .sl-contact {
      padding: 0; } }
  @media screen and (max-width: 768px) {
    .sl-contact-inn-ttl {
      width: 90%;
      margin: 0 auto 50px; } }
  .sl-contact-inn-content {
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: 0.2em;
    line-height: 2;
    font-family: "Noto Sans JP", sans-serif;
    color: #231815;
    padding-left: 30px; }
    @media screen and (max-width: 768px) {
      .sl-contact-inn-content {
        padding-left: 0;
        width: 90%;
        margin: 0 auto; } }
  .sl-contact-inn-form {
    padding: 50px 60px 10px;
    font-weight: 400;
    background: #fffdf3;
    max-width: 600px;
    width: 80%;
    margin: 30px 0; }
    @media screen and (max-width: 768px) {
      .sl-contact-inn-form {
        width: 100%;
        background: #fff;
        padding: 0; } }
    @media screen and (max-width: 768px) {
      .sl-contact-inn-form .form-inner {
        width: 100%;
        background: #fffdf3;
        padding: 35px 20px 10px; } }
    .sl-contact-inn-form p {
      margin-bottom: 40px;
      display: flex;
      flex-wrap: nowrap;
      position: relative; }
      @media screen and (max-width: 768px) {
        .sl-contact-inn-form p {
          border-bottom: 1px solid #777777;
          padding: 0 10px 10px;
          margin-bottom: 15px; } }
      .sl-contact-inn-form p.textarea {
        margin-bottom: 20px; }
        @media screen and (max-width: 768px) {
          .sl-contact-inn-form p.textarea {
            display: block;
            border-bottom: none; } }
      @media screen and (max-width: 768px) {
        .sl-contact-inn-form p:last-child {
          border-bottom: none; } }
      @media screen and (max-width: 768px) {
        .sl-contact-inn-form p:first-child {
          display: none; } }
      .sl-contact-inn-form p:first-child:after {
        content: "";
        position: absolute;
        right: 10px;
        bottom: 7px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: #231815 transparent transparent transparent; }
    .sl-contact-inn-form label {
      font-size: 12px;
      font-size: 1.2rem;
      letter-spacing: 0.05em;
      line-height: 2.3;
      font-family: "Noto Sans JP", sans-serif;
      color: #231815;
      width: 140px; }
      @media screen and (max-width: 768px) {
        .sl-contact-inn-form label {
          width: 120px; } }
    .sl-contact-inn-form input {
      width: 70%;
      background: none;
      border: none;
      border-bottom: 1px solid #777777;
      font-size: 16px;
      font-size: 1.6rem;
      font-family: "Noto Sans JP", sans-serif;
      outline: none;
      padding-left: 20px;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0; }
      @media screen and (max-width: 768px) {
        .sl-contact-inn-form input {
          width: 61%;
          border: none; } }
    .sl-contact-inn-form textarea {
      width: 70%;
      height: 124px;
      background: #fff;
      outline: none;
      border: none;
      resize: none;
      font-family: "Noto Sans JP", sans-serif;
      padding: 20px 0 0 20px;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0; }
      @media screen and (max-width: 768px) {
        .sl-contact-inn-form textarea {
          border: none;
          display: block;
          width: 100%;
          margin-top: 10px; } }
    .sl-contact-inn-form select {
      appearance: none;
      width: 70%;
      font-family: "Noto Sans JP", sans-serif;
      font-size: 12px;
      font-size: 1.2rem;
      background: none;
      color: #757575;
      border: none;
      outline: none;
      border-bottom: 1px solid #777777;
      padding: 0 0 0 20px;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0; }
      @media screen and (max-width: 768px) {
        .sl-contact-inn-form select {
          border: none; } }
    .sl-contact-inn-form .agree-text {
      font-family: "Noto Sans JP", sans-serif;
      letter-spacing: 0.05em;
      font-weight: 400;
      color: #231815; }
      .sl-contact-inn-form .agree-text h3 {
        font-size: 12px;
        font-size: 1.2rem;
        line-height: 2.3;
        margin-bottom: 10px; }
      .sl-contact-inn-form .agree-text p {
        font-size: 10px;
        font-size: 1.0rem;
        line-height: 1.6;
        display: block; }
        @media screen and (max-width: 768px) {
          .sl-contact-inn-form .agree-text p {
            border-bottom: none; } }
        .sl-contact-inn-form .agree-text p a {
          color: #231815;
          text-decoration: underline; }
    .sl-contact-inn-form input[type="submit"] {
      width: 150px;
      padding: 6px 0;
      margin: 0 auto;
      font-size: 14px;
      font-size: 1.4rem;
      background: #231815;
      line-height: 2;
      text-align: center;
      font-family: "Noto Sans JP", sans-serif;
      letter-spacing: 0.2em;
      color: #fff; }
      @media screen and (max-width: 768px) {
        .sl-contact-inn-form input[type="submit"] {
          margin: 50px auto 0; } }

@media screen and (max-width: 768px) {
  .l-ft {
    margin-top: 40px; } }
.l-ft-inn {
  padding: 25px 0 15px; }
  @media screen and (max-width: 768px) {
    .l-ft-inn {
      padding: 20px 0;
      background-color: #000; } }
  .l-ft-inn-menu {
    padding-bottom: 25px; }
    .l-ft-inn-menu-inner {
      width: 100%;
      margin: 0 auto; }
      .l-ft-inn-menu-inner li {
        position: relative;
        margin: 20px 0; }
        .l-ft-inn-menu-inner li a {
          display: block;
          font-family: "Montserrat", sans-serif;
          font-size: 15px;
          font-size: 1.5rem;
          letter-spacing: 0.2em;
          color: #fff;
          text-align: center; }
          .l-ft-inn-menu-inner li a.contact {
            display: block;
            width: 200px;
            margin: 30px auto;
            padding: 20px 10px;
            box-sizing: border-box;
            border: 1px solid #fff; }
          .l-ft-inn-menu-inner li a.pp {
            font-size: 10px; }
      .l-ft-inn-menu-inner .border {
        padding-bottom: 10px;
        border-bottom: 1px solid #fff; }
      .l-ft-inn-menu-inner .plus {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
        background-position: center;
        background-size: 45% 1px, 1px 45%;
        background-repeat: no-repeat;
        position: absolute;
        top: -3px;
        right: 50px; }
      .l-ft-inn-menu-inner .minus {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
        background-position: center;
        background-size: 1px 45%;
        background-repeat: no-repeat;
        position: absolute;
        top: -3px;
        right: 50px;
        transform: rotate(90deg); }
      .l-ft-inn-menu-inner .menu-list {
        display: none; }
        .l-ft-inn-menu-inner .menu-list.show {
          display: block; }
        .l-ft-inn-menu-inner .menu-list.sub-menu-01 {
          padding-left: 10px; }
          .l-ft-inn-menu-inner .menu-list.sub-menu-01 li {
            margin: 15px 0; }
            .l-ft-inn-menu-inner .menu-list.sub-menu-01 li a {
              font-size: 123px;
              font-size: 1.2rem;
              font-family: "Noto Sans JP", sans-serif; }
        .l-ft-inn-menu-inner .menu-list.sub-menu-02 {
          padding-left: 10px; }
          .l-ft-inn-menu-inner .menu-list.sub-menu-02 li {
            margin: 10px 0; }
            .l-ft-inn-menu-inner .menu-list.sub-menu-02 li a {
              font-size: 11px;
              font-size: 1.1rem;
              font-family: "Noto Sans JP", sans-serif;
              color: #fff; }
.l-ft .copyright {
  padding-left: 50px;
  font-size: 10px;
  font-size: 1.0rem;
  font-family: "gill-sans-nova", sans-serif;
  letter-spacing: 0.05em;
  color: #adadad; }
  @media screen and (max-width: 768px) {
    .l-ft .copyright {
      padding-left: 0;
      color: #fff;
      text-align: center; } }

/*# sourceMappingURL=style.css.map */
