.site-main {
    width: calc(100% - 280px);
    margin-left: auto;
    padding-top: 60px;
    @include mqSp() {
        width: 100%;
        padding-top: 24%;
    }
}

.noscroll {
    overflow: hidden;
}

.title01 {
    font-size: 14px;
    font-size: 1.4rem;
    font-family: $enfont;
    font-weight: 500;
    letter-spacing: 0.2em;
    line-height: 1.6;
    margin-bottom: 50px;
    color: #231815;
    @include mqSp() {
        font-size: 1.1rem;
        margin-bottom: 40px;
    }
    &:after {
        content: "";
        width: 10px;
        height: 1.5px;
        background: #f8bb2c;
        display: block;
        float: left;
        margin-top: 20px;
        @include mqSp() {
            margin-top: 10px;
        }
    }
}

.sl {
    .sub-bg {
        position: relative;
        z-index: 1;
        &.service-bg {
            &::after {
                top: 280px;
                left: 14%;
            }
        }
        &.recruit-bg {
            &::after {
                top: 200px;
                left: 10%;
            }
        }
        &.pp-bg {
            &::after {
                left: 16%;
            }
        }
        &:after {
            content: "";
            height: 170px;
            width: 80%;
            max-width: 816px;
            background-image: url('../images/bg-logo.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top right;
            position: absolute;
            top: 350px;
            left: 7%;
            z-index: -1;
            @include mqSp() {
                display: none;
            }
        }
    }
}