.l {
    &-hd {
        width: 20%;
        position: fixed;
        height: 100%;
        overflow-y: scroll;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            width: 0px;
        }
        &-inn {
            margin-top: 60px;
            padding-left: 40px;
            &-logo {
                width: 200px;
            }
            &-menu {
                max-width: 160px;
                padding-top: 60px;
                li {
                    position: relative;
                    margin: 20px 0;
                    a {
                        display: inline-block;
                        font-family: $enfont;
                        font-size: 14px;
                        font-size: 1.4rem;
                        letter-spacing: 0.2em;
                    }
                }
                .border {
                    padding-bottom: 10px;
                    border-bottom: 1px solid #000000;
                }
                .plus {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background: linear-gradient(#000, #000), linear-gradient(#000, #000);
                    background-position: center;
                    background-size: 45% 1px, 1px 45%;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: -3px;
                    right: -5px;
                }
                .minus {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background: linear-gradient(#000, #000), linear-gradient(#000, #000);
                    background-position: center;
                    background-size: 1px 45%;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: -3px;
                    right: -5px;
                    transform: rotate( 90deg);
                }
                .menu-list {
                    display: none;
                    &.show {
                        display: block;
                    }
                    &.sub-menu {
                        &-01 {
                            padding-left: 10px;
                            li {
                                margin: 15px 0;
                                a {
                                    font-size: 13px;
                                    font-size: 1.3rem;
                                    font-family: $jpfont;
                                }
                            }
                        }
                        &-02 {
                            padding-left: 10px;
                            li {
                                margin: 10px 0;
                                a {
                                    font-size: 12px;
                                    font-size: 1.2rem;
                                    font-family: $jpfont;
                                    color: #444444;
                                    &:hover {
                                        color: #f8bb2c;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.site-main {
    width: 80%;
    margin-left: auto;
    padding-top: 60px;
}