.l {
    &-hd {
        width: 20%;
        max-width: 280px;
        position: fixed;
        height: 100%;
        overflow-y: scroll;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            width: 0px;
        }
        @include mqSp() {
            width: 100%;
            max-width: 100%;
            top: 0;
            height: auto;
            background-color: #fff;
            overflow: hidden;
            box-shadow: 2px 0px 4px rgba($color: #666666, $alpha: 0.1);
            z-index: 99;
        }
        &-inn {
            position: relative;
            height: 100%;
            margin-top: 60px;
            padding-left: 40px;
            @include mqSp() {
                height: auto;
                margin-top: 0;
                padding: 20px 10px;
                box-sizing: border-box;
            }
            &.show-menu {
                position: fixed;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                right: 0;
                margin: 0 auto;
                background-color: #000;
                color: #fff;
                overflow-y: scroll;
                overflow-x: hidden;
                .menu-bar {
                    width: 40px;
                }
                .l-hd-inn {
                    &-menu {
                        @include mqSp() {
                            visibility: visible;
                            opacity: 1;
                            height: 100%;
                            li {
                                a {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
            &-logo {
                @include mqSp() {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &.hide {
                        h1 {
                            opacity: 0;
                        }
                    }
                }
                h1 {
                    width: 200px;
                    @include mqSp() {
                        width: 130px;
                    }
                }
            }
            .menu-bar {
                display: none;
            }
            @include mqSp() {
                .menu-bar {
                    display: inline-block;
                    box-sizing: border-box;
                    position: relative;
                    width: 25px;
                    height: 25px;
                    background: none;
                    border: none;
                    appearance: none;
                    cursor: pointer;
                    transition: all .4s;
                    -webkit-transition: all .4s;
                    -moz-transition: all .4s;
                    -ms-transition: all .4s;
                    -o-transition: all .4s;
                    &.active {
                        span {
                            &:nth-child(1) {
                                top: -10px;
                                transform: translateY(20px) rotate(-45deg);
                                background-color: #fff;
                            }
                            &:nth-child(2) {
                                left: 50%;
                                opacity: 0;
                                animation: active-menu-bar02 .8s forwards;
                                background-color: #fff;
                            }
                            &:nth-child(3) {
                                width: 100%;
                                bottom: -6px;
                                transform: translateY(-20px) rotate(45deg);
                                background-color: #fff;
                            }
                        }
                        @keyframes active-menu-bar02 {
                            100% {
                                height: 0;
                            }
                        }
                    }
                    span {
                        display: inline-block;
                        box-sizing: border-box;
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: #000;
                        border-radius: 4px;
                        transition: all .4s;
                        -webkit-transition: all .4s;
                        -moz-transition: all .4s;
                        -ms-transition: all .4s;
                        -o-transition: all .4s;
                        &:nth-child(1) {
                            top: 0;
                        }
                        &:nth-child(2) {
                            top: 12px;
                            width: 80%;
                        }
                        &:nth-child(3) {
                            bottom: 0;
                            width: 60%;
                        }
                    }
                }
            }
            &-menu {
                @include mqSp() {
                    visibility: hidden;
                    opacity: 0;
                    height: 0;
                }
                &-inner {
                    max-width: 160px;
                    padding-top: 50px;
                    @include mqSp() {
                        width: 80%;
                        max-width: 100%;
                        padding-top: 30px;
                        margin: 0 auto;
                    }
                    li {
                        position: relative;
                        margin: 20px 0;
                        &.top {
                            @include mqSp() {
                                padding-left: 13px;
                                &::before {
                                    position: absolute;
                                    content: '';
                                    width: 20px;
                                    height: 2px;
                                    background-color: #fff;
                                    top: 50%;
                                    left: -20px;
                                }
                            }
                        }
                        a {
                            display: inline-block;
                            font-family: $enfont;
                            font-size: 14px;
                            font-size: 1.4rem;
                            letter-spacing: 0.2em;
                            @include mqSp() {
                                font-size: 25px;
                                font-size: 2.5rem;
                            }
                        }
                    }
                    .border {
                        padding-bottom: 10px;
                        border-bottom: 1px solid #000000;
                    }
                    .plus {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background: linear-gradient(#000, #000), linear-gradient(#000, #000);
                        background-position: center;
                        background-size: 45% 1px, 1px 45%;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: -3px;
                        right: -5px;
                        @include mqSp() {
                            width: 30px;
                            height: 30px;
                            background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
                            background-position: center;
                            background-size: 45% 1px, 1px 45%;
                            background-repeat: no-repeat;
                            right: 0;
                        }
                    }
                    .minus {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background: linear-gradient(#000, #000), linear-gradient(#000, #000);
                        background-position: center;
                        background-size: 1px 45%;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: -3px;
                        right: -5px;
                        transform: rotate( 90deg);
                        @include mqSp() {
                            width: 30px;
                            height: 30px;
                            background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
                            background-position: center;
                            background-size: 1px 45%;
                            background-repeat: no-repeat;
                            right: 0;
                        }
                    }
                    .menu-list {
                        display: none;
                        &.show {
                            display: block;
                        }
                        &.sub-menu {
                            &-01 {
                                padding-left: 10px;
                                li {
                                    margin: 15px 0;
                                    a {
                                        font-size: 13px;
                                        font-size: 1.3rem;
                                        font-family: $jpfont;
                                        @include mqSp() {
                                            font-size: 17px;
                                        }
                                    }
                                }
                            }
                            &-02 {
                                padding-left: 10px;
                                li {
                                    margin: 10px 0;
                                    a {
                                        font-size: 12px;
                                        font-size: 1.2rem;
                                        font-family: $jpfont;
                                        color: #444444;
                                        @include mqSp() {
                                            color: #fff;
                                            font-size: 14px;
                                        }
                                        &:hover {
                                            color: #f8bb2c;
                                            @include mqSp() {
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .hd-copy {
                position: absolute;
                left: 30px;
                right: 0;
                bottom: 10px;
                margin: 0 auto;
                text-align: center;
                font-size: 10px;
                font-size: 1.0rem;
                letter-spacing: 0.05em;
            
        }
    }
}

.site-main {
    width: 80%;
    margin-left: auto;
    padding-top: 60px;
    @include mqSp() {
        width: 100%;
        padding-top: 100px;
    }
}
.noscroll {
    overflow: hidden;
}