.sl {
    &-service {
        &-inn {
            width: 86%;
            margin: 0 auto;
            padding-bottom: 15%;
            @include mqSp() {
                width: 90%;
                padding-bottom: 0;
            }
            &-list {
                padding-top: 20px;
                @include mqSp() {
                    margin-bottom: 20px;
                }
                &-step {
                    flex-flow: nowrap;
                    @include mqSp() {
                        flex-flow: wrap;
                    }
                    .step-box {
                        position: relative;
                        padding: 0 40px;
                        box-sizing: border-box;
                        @include mqSp() {
                            width: 50%;
                            margin-bottom: 25%;
                        }
                        &:nth-child(2n) {
                            @include mqSp() {
                                &::after {
                                    background-color: transparent;
                                }
                            }
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 1px;
                            height: 116%;
                            background-color: #777777;
                        }
                        &:nth-child(1) {
                            padding: 0 40px 0 20px;
                            @include mqSp() {
                                padding: 0;
                            }
                        }
                        &:nth-child(2) {
                            padding: 20px 40px 0;
                            @include mqSp() {
                                padding: 0 10px;
                            }
                        }
                        &:nth-child(3) {
                            padding: 40px 40px 0;
                            @include mqSp() {
                                padding: 0;
                            }
                        }
                        &:nth-child(4) {
                            padding: 60px 40px 0;
                            @include mqSp() {
                                padding: 0 10px;
                            }
                        }
                        span {
                            display: block;
                        }
                        .step-num {
                            padding-bottom: 20px;
                            font-size: 20px;
                            font-size: 2.0rem;
                            font-family: $bodonifont;
                            font-weight: bold;
                            color: #F7DDA9;
                            @include mqSp() {
                                font-size: 18px;
                            }
                        }
                        .step-ttl01 {
                            padding-bottom: 20px;
                            font-size: 33px;
                            font-size: 3.3rem;
                            font-family: $bodonifont;
                            font-weight: bold;
                            color: #f8bb2c;
                            @include mqSp() {
                                font-size: 28px;
                            }
                        }
                        .step-ttl02 {
                            padding-bottom: 30px;
                            font-size: 11px;
                            font-size: 1.1rem;
                            font-family: $jpfont;
                            letter-spacing: 0.05em;
                            color: #F7DDA9;
                            @include mqSp() {
                                font-size: 10px;
                            }
                        }
                        ul {
                            li {
                                margin-bottom: 20px;
                                @include mqSp() {
                                    margin-bottom: 10px;
                                }
                                a {
                                    color: #231815;
                                    font-size: 12px;
                                    font-size: 1.2rem;
                                    letter-spacing: 0.05em;
                                    &:hover {
                                        color: #f8bb2c;
                                        @include mqSp() {
                                            color: #231815;
                                        }
                                    }
                                }
                            }
                        }
                        .step-link {
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: -50px;
                            display: block;
                            width: 28px;
                            margin: 0 auto;
                        }
                    }
                }
            }
            &.details {
                width: 93%;
                margin: 0 0 0 auto;
                padding-bottom: 80px;
                @include mqSp {
                    width: 100%;
                    padding: 0 0 0 20px;
                    margin: 0 auto 50px;
                }
            }
            &-tablist {
                margin-right: 85px;
                align-items: center;
                margin-bottom: 50px;
                @include mqSp {
                    display: block;
                    margin-right: 0;
                    margin-bottom: 30px;
                }
                .title01 {
                    margin-bottom: 0;
                }
                .tabs {
                    margin-left: auto;
                    @include mqSp() {
                        margin-top: 40px;
                        justify-content: center;
                    }
                    li {
                        margin: 0 8px;
                        @include mqSp() {
                            margin: 0 5px;
                        }
                        a {
                            font-size: 12px;
                            font-size: 1.2rem;
                            font-family: $enfont;
                            letter-spacing: 0.05em;
                            font-weight: 500;
                            color: #b2b2b2;
                            @include mqSp() {
                                font-size: 10px;
                                font-size: 1.0rem;
                            }
                            &:hover {
                                color: #f8bb2c;
                                @include mqSp() {
                                    color: #b2b2b2;
                                }
                            }
                            &.active {
                                color: #f8bb2c;
                            }
                        }
                    }
                }
            }
            &-content {
                &-info {
                    h3 {
                        position: relative;
                        color: #eaeaea;
                        font-size: 130px;
                        font-size: 13.0rem;
                        font-weight: 700;
                        font-family: $bodonifont;
                        z-index: 1;
                        @include mqSp() {
                            position: absolute;
                            font-size: 60px;
                            font-size: 6.0rem;
                            top: 355px;
                        }
                    }
                }
                &-fl {
                    position: relative;
                    flex-flow: nowrap;
                    justify-content: space-between;
                    @include mqSp {
                        flex-flow: wrap;
                    }
                    ul {
                        width: 180px;
                        padding-top: 70px;
                        @include mqSp() {
                            width: 100%;
                            padding-top: 50px;
                        }
                        li {
                            margin-bottom: 20px;
                            a {
                                font-size: 12px;
                                font-size: 1.2rem;
                                letter-spacing: 0.05em;
                                &:hover {
                                    color: #f8bb2c;
                                }
                            }
                        }
                    }
                    .details-txt {
                        position: absolute;
                        left: 20%;
                        bottom: 20px;
                        max-width: 365px;
                        padding: 15px 10px;
                        background-color: rgba($color: #ffffff, $alpha: 0.7);
                        font-size: 12px;
                        font-size: 1.2rem;
                        border: 1px solid #eaeaea;
                        box-shadow: 7px 7px 0px rgba($color: #000000, $alpha: 0.1);
                        letter-spacing: 0.1em;
                        box-sizing: border-box;
                        line-height: 1.8;
                        @include mqSp() {
                            width: 93%;
                            max-width: 100%;
                            position: unset;
                            left: 0;
                            margin-top: 10px;
                        }
                    }
                    .details-img {
                        width: 55%;
                        max-width: 532px;
                        @include mqSp() {
                            width: 90%;
                            max-width: 100%;
                            margin-left: auto;
                        }
                        img {
                            width: 100%;
                            height: 355px;
                            object-fit: cover;
                            object-position: center;
                            @include mqSp() {
                                height: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
}