.l {
    &-mv {
        &-inn {
            position: relative;
            width: 100%;
            margin: 0 auto;
            padding-bottom: 70px;
            padding-right: 50px;
            @include mqSp() {
                padding: 0 10px;
                box-sizing: border-box;
            }
            &-image {
                position: relative;
                width: 87.5%;
                height: 100vh;
                margin-left: auto;
                @include mqSp {
                    width: 80%;
                    height: 65vh;
                }
            }
            &-ttl {
                position: absolute;
                width: 35%;
                left: -9px;
                bottom: 165px;
                mix-blend-mode: luminosity;
                z-index: 9;
                @include mqSp() {
                    width: 60%;
                    left: 0%;
                    bottom: 100px;
                    margin-left: 27px;
                }
            }
            &-infotxt {
                padding-top: 80px;
                @include mqSp() {
                    padding-top: 40px;
                    margin-left: 10px;
                }
                span {
                    display: inline-block;
                    padding: 0 3px;
                    font-size: 14px;
                    font-size: 1.4rem;
                    line-height: 1.5;
                    color: #fff;
                    background-color: #000;
                    letter-spacing: 0.05em;
                    @include mqSp() {
                        display: inline;
                        background-color: #231815;
                        line-height: 1.7;
                        font-size: 15px;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}